/* paleta de colores */
:root {
    /* link pallet */
    /* https://colors.muz.li/palette/8a2be2/4a1e9e/ddcbff/bb98ff/ffffff */
    --my-background: #edecec;
    --my-shadow: #333;
    --my-strong: #4a1e9e;
    --my-hover: #340c5a;
    --my-textLigth: #ddcbff;
}

/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}


body{
    background-color: var(--my-background);
    color: var(--my-strong);
}

/* navbar */
.navbar{
    background-color: #4b1e9ee7;
    z-index: 100;
}
.navbar-brand{
    color: var(--my-textLigth);
}
.navbar-nav li>a{
    text-decoration: none;
    margin: 0 10px;
    color: var(--my-textLigth);
}

.navbar-nav li>a:hover{
    font-size: 1.2em;
    transition: all 1s;
}

.navbar-toggler{
    background-color: var(--my-textLigth);
}

.h2{
    font-weight: bolder;
    text-align: center;
}

/* infoormacion  */
.info-container{
    width: 100%;
}

.foto{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    background-image: url("./resources/foto/foto-talento.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid;
    border-radius: 200px;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	/* transform: translatey(0px); */
	animation: float 6s ease-in-out infinite;
}

/* presentacion */
.info-container{
    background-color: var(--my-strong);
    color: var(--my-textLigth);
    font-size: 1.3em;
}

/* habilidades */
.skill-list{
    font-size: 1.2em;
}

/* conosimiento = tamaño de los contenedores para los logos */

.conosimientos{
    background-color: var(--my-strong);
}

.conosimiento-title{
    color: var(--my-textLigth);
    text-align: center;
}
.conosimiento{
    height: 100px;
    width: 100px;
}

.conosimiento:hover{
    box-shadow: 0 0 50px 1px var(--my-textLigth);
    background-color: var(--my-textLigth);
    border-radius: 30px;
    height: 120px;
    width: 120px;
    border: 1px solid transparent;
    transition: all 1s;
}
/* logos de conosimientos y programas */
.dart{
    background-image: url("./resources/logos/logo_dart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.flutter{
    background-image: url("./resources/logos/logo_futter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.html{
    background-image: url("./resources/logos/logo-html.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.js{
    background-image: url("./resources/logos/logo_js.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.css{
    background-image: url("./resources/logos/logo_css.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bootstrap{
    background-image: url("./resources/logos/logo_bootstrap.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.android{
    background-image: url("./resources/logos/logo_android.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.vsCode{
    background-image: url("./resources/logos/logo_vsCode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn{
    background-color: var(--my-textLigth);
    color: var(--my-strong);
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 15px 3px var(--my-strong);
    background-color: var(--my-strong);
    color: var(--my-textLigth); 
    transition: all 1s;
}

/* contacto */

.contact{
    height: 50px;
    width: 50px;
}

.contact:hover{
    height: 70px;
    width: 70px;
    transition: all 1s;
}

.facebook{
    background-image: url("./resources/logos/redes/logo_facebook.png");
    background-position: center;
    background-size: contain;
    cursor: pointer
}
.instagram{
    background-image: url("./resources/logos/redes/logo_instragram.png");
    background-position: center;
    background-size: contain;
    cursor: pointer
}
.telegram{
    background-image: url("./resources/logos/redes/logo_telegram.png");
    background-position: center;
    background-size: contain;
    cursor: pointer
}
.whatsapp{
    background-image: url("./resources/logos/redes/log_whatsapp.png");
    background-position: center;
    background-size: contain;
    cursor: pointer
}
.github{
    background-image: url("./resources/logos/redes/log_github.png");
    background-position: center;
    background-size: contain;
    cursor: pointer
}

/* keyframes */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
    25%{
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.4);
		transform: translate3d(20px, -10px, 0)
    }
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate3d(0px, -20px, 0)

	}
    75%{
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.4);
		transform: translate3d(-20px, -10px, 0)
    }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
/* query */
@media (max-width: 600px) {
    html {
      font-size: 75%;
    }

    
}
